{{define "title"}}About{{end}}
{{define "main"}}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor metus erat, ac porta enim sodales aliquam. Duis egestas felis a nisl porta semper. Integer ultrices rutrum sollicitudin. Vivamus posuere nunc eu ligula rhoncus cursus in at eros. In non mattis est. Nullam egestas libero a consectetur venenatis. Mauris ipsum. </p>
{{end}}
